<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Health Tracker</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
    	<img src="/images/logo.png" alt="Logo">
        <h1 class="text-center mt-5">Welcome to Health Tracker</h1>
        <div class="text-center mt-4">
            <a href="/login" class="btn">Login</a>
			<a href="/signup" class="btn">Sign Up</a>
		</div>

    </div>
</body>
</html>
